* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: linear-gradient(#e66465, #9198e5);
  }
  
  button {
    background: rgb(141, 133, 123);
    border-radius: 15px;
    color: #060707;
    cursor: pointer;
    font-size: 24px;
    letter-spacing: 0.21px;
    line-height: 16px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    margin-top: 0.6em;
  }
  
  header {
    display: block;
    padding: 40px;
    text-align: center;
    background: #053007;
    color: #fff;
    border-bottom:30px #879274;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .questions {
    flex: 0 auto;
    padding: 8px;
    margin-top: 50px;
    background-color: white;
    border-radius: 8px;
    width: 55vw;
    height: 400px;
    display: none;
  }
  
  .results {
    flex: 0 auto;
    padding: 8px;
    margin-top: 50px;
    background-color: white;
    border-radius: 8px;
    width: 30vw;
    height: 400px;
    display: none;
  }

  .savedscore {
    flex: 0 auto;
    padding: 8px;
    margin-top: 50px;
    background-color: white;
    border-radius: 8px;
    width: 30vw;
    height: 400px;
    display: none;
  }
  
  .card {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #4f3cf6);
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: auto;
    padding: 20px;
  }
  
  .large-font {
    font-size: 3.5em;
    text-align:center;
  }
  
  .timer {
    height: 240px;
    padding: 10px;
    background: #053007;
    color: #fff;
    text-align: center;
  }
  
  .timer-text {
    padding: 55px;
  }
  
  @media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }
  
    .word-guess,
    .results {
      width: 90vw;
    }
  
    section {
      background-color: white;
      margin: 20px auto;
      width: 92vw;
    }
  }
  
  @media screen and (max-width: 504px) {
    .large-font {
      font-size: 2em;
    }
  
    .timer {
      height: 200px;
    }
}